input, select {
	display: block;
}

.file {
    background: url(http://superuroki.ru/images/files_icon.png) #CCC;
    text-indent: -999em;
    width: 100%;
    height: 300px;
    font-size: 20px;
}

.submit {
	width: 100%;
	height: 50px;
	font-size: 20px;
}